<%- include('../fragmente/head') %>
<%- include('../fragmente/filigran') %>
<%- include('../fragmente/header') %>
<main class="pagina-secundara pagina-eroare">
    <article>
        <h1><%= titlu %></h1>
        <p><%= text %></p>
        <p><img src="<%= imagine %>" alt="" width="320" height="200"></p>
        <p><a href="/">Înapoi la pagina principală</a></p>
    </article>
</main>
<%- include('../fragmente/footer') %>
</body>
</html>
