<%- include('../fragmente/head') %>
<%- include('../fragmente/filigran') %>
<%- include('../fragmente/header') %>
<main>
<%- include('./continut-index') %>
</main>
<%- include('../fragmente/footer') %>
</body>
</html>
